!.gitkeep
!/tmp/result/
/tmp/result/*
!/tmp/result/.gitkeep
!/tmp/uploads/
/tmp/uploads/*
!/tmp/uploads/.gitkeep
!/dist/
dist/*
!/dist/.gitkeep

# Vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs
